{% extends 'base.html.twig' %}

 {% block title %} Symfony React Project {% endblock %}

 {% block body %}

     <div class="c-catchphrase-container">{{ catchphrase }}</div>

     <div id="root"></div>

 {% endblock %}